script:
  - id: reset_light_on
    mode: queued
    then:
      - light.turn_on:
          id: lightstrip
          brightness: 50%
  - id: reset_light_off
    mode: queued
    then:
      - light.turn_on:
          id: lightstrip
          brightness: 0%

esphome:
  name: lightstrip-esp32-c3-super-mini
  friendly_name: Bibo Lichterkette
  platformio_options:
    board_build.flash_mode: dio  # qio does not seem to work
  on_boot:
    priority: 600.0  # "This is where most sensors are set up.""
    then:
      - script.execute: reset_light_on

esp32:
  board: esp32-c3-devkitm-1  # is actually a c3_super_mini
  variant: esp32c3
  framework:
    type: esp-idf  # "This is an alternative base framework for ESP32 chips, and recommended for variants of the ESP32 like ESP32S2, ESP32S3, ESP32C3 and single-core ESP32 chips."
# Dokumentation for the WEMOS LOLIN C3 Mini: https://www.wemos.cc/en/latest/c3/c3_mini.html
# Dokumentation for the ESP32 C3 Super Mini: https://www.aliexpress.com/item/1005005967641936.html

# Enable logging
logger:
  level: VERY_VERBOSE
  logs:
    api.service: DEBUG

# Enable Home Assistant API
api:
  encryption:
    key: !secret api_encryption_key
  reboot_timeout: 0s

ota:
  password: !secret ota_password

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "Lightstrip Fallback Hotspot"
    password: !secret wifi_ap_password

captive_portal:


sensor:
  - platform: rotary_encoder
    name: "Rotary Encoder"
    id: my_rotary_encoder
    pin_a: 0
    pin_b: 1
    on_clockwise:
        light.dim_relative:
          id: lightstrip
          relative_brightness: 1%
    on_anticlockwise:
        light.dim_relative:
          id: lightstrip
          relative_brightness: -1%

binary_sensor:
#  - platform: gpio
#    id: up
#    pin:
#      number: 0
#      mode:
#        input: true
#        pulldown: true
#    on_press:
#      then:
#        light.dim_relative:
#          id: lightstrip
#          relative_brightness: 1%
#  - platform: gpio
#    id: down
#    pin:
#      number: 1
#      mode:
#        input: true
#        pulldown: true
#    on_press:
#      then:
#        light.dim_relative:
#          id: lightstrip
#          relative_brightness: -1%
  - platform: gpio
    id: power
    pin:
      number: 3
      mode:
        input: true
        pulldown: true
    on_press:
      then:
        if:
          condition:
            light.is_off: lightstrip
          then:
            script.execute: reset_light_on
          else:
            script.execute: reset_light_off

#output:
#  - platform: ledc
#    pin: 8  # this is the blue on-board led
#    id: ledc_id
#    frequency: 1000Hz  # highest frequency supported by the LED driver
#    inverted: true  # because "VCC <-> resistor <-> LED <-> GPIO8"

output:
  - platform: ledc
    pin: 8
    id: ledc_id
    # frequency: 1000Hz  # highest frequency supported by the LED driver
    frequency: 100Hz  # maybe this removed the buzzing sound?
    # one LED:
    # min_power: 0.0015
    # zero_means_zero: true
    # min_turn_on_power: 0.05
    # ten LEDs:
    min_power: 0.25%
    zero_means_zero: true
    min_turn_on_power: 2%

light:
  - platform: monochromatic
    output: ledc_id
    id: lightstrip
    name: "Bibo Lichterkette"
    restore_mode: ALWAYS_OFF  # we switch the light on during on_boot, that way we can also set brightness
    default_transition_length: 0s
#    gamma_correct: 1